# Logs
*.log
*.txt

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Ignore masscan output files
*.xml
*.json
